h1=@video.title
p= link_to 'Edit Video', edit_subject_video_path if current_user.teacher?
h2=link_to @video.subject.title, subject_path(@video.subject)
h3=@video.description
=image_tag(@video.image) unless @video.image.nil?
